<%- include('partial/header');  -%> 
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle">
        <label>Post</label>
        <textarea class="form-control" name="postBody" cols="30" rows="5"></textarea>
        
    </div>
    <button class="btn btn-primary" type="submit">Publish</button>
   
</form>
<%- include('partial/footer');  -%> 